.banner-promocional1 {
    background-color: #FF7F11;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.banner-promocional p {
    margin-bottom: 0;
    text-align: left;
}

.banner-promocional2 {
    background-color: #FF7F11;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
}

.text-left {
    justify-content: center;
    align-items: flex-end;
    padding: 40px;
    font-family: "Raleway", serif !important;
}

.d-flex {
    background-color: #FF7F11;
    
}

html {
    font-family: "Poppins", sans-serif;

}

h3,h5{
    font-family: "Raleway", serif !important;
    color: white;
    font-weight: bold;
}

p {
    font-family: "Poppins", sans-serif;
}